@font-face {
   font-family: 'Happiness-Sans-Title';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 .header {
   background-color: rgba(0,0,0,.8);
   border:none;
   position:fixed;
   top: 0;
   right:0;
   left: 0;
   min-width: 1240px;
   height: 90px;
   text-align: center;
   z-index: 100;
   box-sizing: border-box;
   display: block;
 }
 .navbar {
   display: block;
 }

 .header .navmake{
   font-size: 0;
   text-align: center;    
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
 }

 ul {
   list-style: none;
   display: flex;
   display: block
 }

 .header .navmake .item {
   display: inline-block;
 }

 li{
   text-align: center;
 }
 
 .header .navmake .menu_link {
   display: block;
   height: 90px;
   padding: 28px 285px;
   font-size: 18px;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: 0px;
   -webkit-box-sizing:border-box;
   box-sizing: border-box;
 }

 a {
   text-decoration: none;
   cursor: pointer;
 } 

 .header .navmake .item_wrap {
   display: inline-block;
   vertical-align: top;
 }

  .header .menu_link{
   color: rgba(255,255,255,.6);
 }
 
 .header .navmake .menu_link .item_wrap {
   font-family: 'Happiness-Sans-Title';
 }
 
 .item:hover .menu_link .item_wrap{
   border-color:#fff
 }